In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC,LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

In [4]:
train_df=pd.read_csv('train.csv')

In [5]:
test_df=pd.read_csv('test.csv')

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [7]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
train_df.head(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [9]:
total = train_df.isnull().sum().sort_values(ascending=False)
percent_1 = train_df.isnull().sum()/train_df.isnull().count()*100
percent_2 = percent_1.sort_values(ascending=False)
missing_data=pd.concat([total,percent_2],axis=1,keys=['Total','%'])
missing_data.head(5)

          Total          %
Cabin       687  77.104377
Age         177  19.865320
Embarked      2   0.224467
Fare          0   0.000000
Ticket        0   0.000000

In [10]:
train_df.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

In [11]:
train_df=train_df.drop(["PassengerId"],axis=1)

In [12]:
import re
deck = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "U": 8}
data = [train_df, test_df]

for dataset in data:
    dataset['Cabin'] = dataset['Cabin'].fillna("U0")
    dataset['Deck'] = dataset['Cabin'].map(lambda x: re.compile("([a-zA-Z]+)").search(x).group())
    dataset['Deck'] = dataset['Deck'].map(deck)
    dataset['Deck'] = dataset['Deck'].fillna(0)
    dataset['Deck'] = dataset['Deck'].astype(int)
# we can now drop the cabin feature
train_df = train_df.drop(['Cabin'], axis=1)
test_df = test_df.drop(['Cabin'], axis=1)

In [13]:
data = [train_df, test_df]

for dataset in data:
    mean = train_df["Age"].mean()
    std = test_df["Age"].std()
    is_null = dataset["Age"].isnull().sum()
    # compute random numbers between the mean, std and is_null
    rand_age = np.random.randint(mean - std, mean + std, size = is_null)
    # fill NaN values in Age column with random values generated
    age_slice = dataset["Age"].copy()
    age_slice[np.isnan(age_slice)] = rand_age
    dataset["Age"] = age_slice
    dataset["Age"] = train_df["Age"].astype(int)
train_df["Age"].isnull().sum()

0

In [14]:
train_df['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [15]:
common_value = 'S'
data = [train_df, test_df]

for dataset in data:
    dataset['Embarked'] = dataset['Embarked'].fillna(common_value)

In [16]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         891 non-null int64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Embarked    891 non-null object
Deck        891 non-null int64
dtypes: float64(1), int64(6), object(4)
memory usage: 76.6+ KB

In [17]:
data = [train_df, test_df]

for dataset in data:
    dataset['Fare'] = dataset['Fare'].fillna(0)
    dataset['Fare'] = dataset['Fare'].astype(int)

In [18]:
data = [train_df, test_df]
titles = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}

for dataset in data:
    # extract titles
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
    # replace titles with a more common title or as Rare
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr',\
                                            'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    # convert titles into numbers
    dataset['Title'] = dataset['Title'].map(titles)
    # filling NaN with 0, to get safe
    dataset['Title'] = dataset['Title'].fillna(0)
train_df = train_df.drop(['Name'], axis=1)
test_df = test_df.drop(['Name'], axis=1)

In [19]:
train_df

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Deck,Title
0,0,3,male,22,1,0,A/5 21171,7,S,8,1
1,1,1,female,38,1,0,PC 17599,71,C,3,3
2,1,3,female,26,0,0,STON/O2. 3101282,7,S,8,2
3,1,1,female,35,1,0,113803,53,S,3,3
4,0,3,male,35,0,0,373450,8,S,8,1
5,0,3,male,35,0,0,330877,8,Q,8,1
6,0,1,male,54,0,0,17463,51,S,5,1
7,0,3,male,2,3,1,349909,21,S,8,4
8,1,3,female,27,0,2,347742,11,S,8,3
9,1,2,female,14,1,0,237736,30,C,8,3
10,1,3,female,4,1,1,PP 9549,16,S,7,2
11,1,1,female,58,0,0,113783,26,S,3,2
12,0,3,male,20,0,0,A/5. 2151,8,S,8,1
13,0,3,male,39,1,5,347082,31,S,8,1
14,0,3,female,14,0,0,350406,7,S,8,2
15,1,2,female,55,0,0,248706,16,S,8,3
16,0,3,male,2,4,1,382652,29,Q,8,4
17,1,2,male,19,0,0,244373,13,S,8,1
18,0,3,female,31,1,0,345763,18,S,8,3
19,1,3,female,31,0,0,2649,7,C,8,3
20,0,2,male,35,0,0,239865,26,S,8,1
21,1,2,male,34,0,0,248698,13,S,4,1
22,1,3,female,15,0,0,330923,8,Q,8,2
23,1,1,male,28,0,0,113788,35,S,1,1
24,0,3,female,8,3,1,349909,21,S,8,2
25,1,3,female,38,1,5,347077,31,S,8,3
26,0,3,male,19,0,0,2631,7,C,8,1
27,0,1,male,19,3,2,19950,263,S,3,1
28,1,3,female,28,0,0,330959,7,Q,8,2
29,0,3,male,15,0,0,349216,7,S,8,1
...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,male,21,1,0,28134,11,S,8,1
862,1,1,female,48,0,0,17466,25,S,4,3
863,0,3,female,17,8,2,CA. 2343,69,S,8,2
864,0,2,male,24,0,0,233866,13,S,8,1
865,1,2,female,42,0,0,236852,13,S,8,3
866,1,2,female,27,1,0,SC/PARIS 2149,13,C,8,2
867,0,1,male,31,0,0,PC 17590,50,S,1,1
868,0,3,male,26,0,0,345777,9,S,8,1
869,1,3,male,4,1,1,347742,11,S,8,4
870,0,3,male,26,0,0,349248,7,S,8,1
871,1,1,female,47,1,1,11751,52,S,4,3
872,0,1,male,33,0,0,695,5,S,2,1
873,0,3,male,47,0,0,345765,9,S,8,1
874,1,2,female,28,1,0,P/PP 3381,24,C,8,3
875,1,3,female,15,0,0,2667,7,C,8,2
876,0,3,male,20,0,0,7534,9,S,8,1
877,0,3,male,19,0,0,349212,7,S,8,1
878,0,3,male,27,0,0,349217,7,S,8,1
879,1,1,female,56,0,1,11767,83,C,3,3
880,1,2,female,25,0,1,230433,26,S,8,3
881,0,3,male,33,0,0,349257,7,S,8,1
882,0,3,female,22,0,0,7552,10,S,8,2
883,0,2,male,28,0,0,C.A./SOTON 34068,10,S,8,1
884,0,3,male,25,0,0,SOTON/OQ 392076,7,S,8,1
885,0,3,female,39,0,5,382652,29,Q,8,3
886,0,2,male,27,0,0,211536,13,S,8,5
887,1,1,female,19,0,0,112053,30,S,2,2
888,0,3,female,39,1,2,W./C. 6607,23,S,8,2
889,1,1,male,26,0,0,111369,30,C,3,1
890,0,3,male,32,0,0,370376,7,Q,8,1

In [20]:
genders = {"male": 0, "female": 1}
data = [train_df, test_df]

for dataset in data:
    dataset['Sex'] = dataset['Sex'].map(genders)

In [21]:
train_df['Ticket'].describe()

count          891
unique         681
top       CA. 2343
freq             7
Name: Ticket, dtype: object

In [22]:
train_df = train_df.drop(['Ticket'], axis=1)
test_df = test_df.drop(['Ticket'], axis=1)

In [23]:
ports = {"S": 0, "C": 1, "Q": 2}
data = [train_df, test_df]

for dataset in data:
    dataset['Embarked'] = dataset['Embarked'].map(ports)

In [24]:
train_df

     Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked  Deck  Title
0           0       3    0   22      1      0     7         0     8      1
1           1       1    1   38      1      0    71         1     3      3
2           1       3    1   26      0      0     7         0     8      2
3           1       1    1   35      1      0    53         0     3      3
4           0       3    0   35      0      0     8         0     8      1
5           0       3    0   35      0      0     8         2     8      1
6           0       1    0   54      0      0    51         0     5      1
7           0       3    0    2      3      1    21         0     8      4
8           1       3    1   27      0      2    11         0     8      3
9           1       2    1   14      1      0    30         1     8      3
10          1       3    1    4      1      1    16         0     7      2
11          1       1    1   58      0      0    26         0     3      2
12          0       3    0   20      0      0     8         0     8      1
13          0       3    0   39      1      5    31         0     8      1
14          0       3    1   14      0      0     7         0     8      2
15          1       2    1   55      0      0    16         0     8      3
16          0       3    0    2      4      1    29         2     8      4
17          1       2    0   19      0      0    13         0     8      1
18          0       3    1   31      1      0    18         0     8      3
19          1       3    1   31      0      0     7         1     8      3
20          0       2    0   35      0      0    26         0     8      1
21          1       2    0   34      0      0    13         0     4      1
22          1       3    1   15      0      0     8         2     8      2
23          1       1    0   28      0      0    35         0     1      1
24          0       3    1    8      3      1    21         0     8      2
25          1       3    1   38      1      5    31         0     8      3
26          0       3    0   19      0      0     7         1     8      1
27          0       1    0   19      3      2   263         0     3      1
28          1       3    1   28      0      0     7         2     8      2
29          0       3    0   15      0      0     7         0     8      1
..        ...     ...  ...  ...    ...    ...   ...       ...   ...    ...
861         0       2    0   21      1      0    11         0     8      1
862         1       1    1   48      0      0    25         0     4      3
863         0       3    1   17      8      2    69         0     8      2
864         0       2    0   24      0      0    13         0     8      1
865         1       2    1   42      0      0    13         0     8      3
866         1       2    1   27      1      0    13         1     8      2
867         0       1    0   31      0      0    50         0     1      1
868         0       3    0   26      0      0     9         0     8      1
869         1       3    0    4      1      1    11         0     8      4
870         0       3    0   26      0      0     7         0     8      1
871         1       1    1   47      1      1    52         0     4      3
872         0       1    0   33      0      0     5         0     2      1
873         0       3    0   47      0      0     9         0     8      1
874         1       2    1   28      1      0    24         1     8      3
875         1       3    1   15      0      0     7         1     8      2
876         0       3    0   20      0      0     9         0     8      1
877         0       3    0   19      0      0     7         0     8      1
878         0       3    0   27      0      0     7         0     8      1
879         1       1    1   56      0      1    83         1     3      3
880         1       2    1   25      0      1    26         0     8      3
881         0       3    0   33      0      0     7         0     8      1
882         0       3    1   22      0      0    10         0     8      2
883         0       2    0   28      0      0    10         0     8      1
884         0       3    0   25      0      0     7         0     8      1
885         0       3    1   39      0      5    29         2     8      3
886         0       2    0   27      0      0    13         0     8      5
887         1       1    1   19      0      0    30         0     2      2
888         0       3    1   39      1      2    23         0     8      2
889         1       1    0   26      0      0    30         1     3      1
890         0       3    0   32      0      0     7         2     8      1

[891 rows x 10 columns]

In [25]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int64
Age         891 non-null int64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null int64
Embarked    891 non-null int64
Deck        891 non-null int64
Title       891 non-null int64
dtypes: int64(10)
memory usage: 69.7 KB

In [26]:
data = [train_df, test_df]
for dataset in data:
    dataset['Age'] = dataset['Age'].astype(int)
    dataset.loc[ dataset['Age'] <= 11, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 11) & (dataset['Age'] <= 18), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 18) & (dataset['Age'] <= 22), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 22) & (dataset['Age'] <= 27), 'Age'] = 3
    dataset.loc[(dataset['Age'] > 27) & (dataset['Age'] <= 33), 'Age'] = 4
    dataset.loc[(dataset['Age'] > 33) & (dataset['Age'] <= 40), 'Age'] = 5
    dataset.loc[(dataset['Age'] > 40) & (dataset['Age'] <= 66), 'Age'] = 6
    dataset.loc[ dataset['Age'] > 66, 'Age'] = 6

# let's see how it's distributed 
train_df['Age'].value_counts()

4    160
6    157
5    148
3    144
2    118
1     96
0     68
Name: Age, dtype: int64

In [27]:
data = [train_df, test_df]

for dataset in data:
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[(dataset['Fare'] > 31) & (dataset['Fare'] <= 99), 'Fare']   = 3
    dataset.loc[(dataset['Fare'] > 99) & (dataset['Fare'] <= 250), 'Fare']   = 4
    dataset.loc[ dataset['Fare'] > 250, 'Fare'] = 5
    dataset['Fare'] = dataset['Fare'].astype(int)

In [28]:
train_df.head()

   Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked  Deck  Title
0         0       3    0    2      1      0     0         0     8      1
1         1       1    1    5      1      0     3         1     3      3
2         1       3    1    3      0      0     0         0     8      2
3         1       1    1    5      1      0     3         0     3      3
4         0       3    0    5      0      0     1         0     8      1

In [29]:
#new features
data = [train_df, test_df]
for dataset in data:
    dataset['Age_Class']= dataset['Age']* dataset['Pclass']

In [30]:

train_df.head(10)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Title,Age_Class
0,0,3,0,2,1,0,0,0,8,1,6
1,1,1,1,5,1,0,3,1,3,3,5
2,1,3,1,3,0,0,0,0,8,2,9
3,1,1,1,5,1,0,3,0,3,3,5
4,0,3,0,5,0,0,1,0,8,1,15
5,0,3,0,5,0,0,1,2,8,1,15
6,0,1,0,6,0,0,3,0,5,1,6
7,0,3,0,0,3,1,2,0,8,4,0
8,1,3,1,3,0,2,1,0,8,3,9
9,1,2,1,1,1,0,2,1,8,3,2

In [31]:

X_train = train_df.drop("Survived", axis=1)
Y_train = train_df["Survived"]
X_test  = test_df.drop("PassengerId", axis=1).copy()

In [32]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)

Y_prediction = random_forest.predict(X_test)

random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)

In [33]:
acc_random_forest

92.7

In [34]:
decision_tree = DecisionTreeClassifier() 
decision_tree.fit(X_train, Y_train)  
Y_pred = decision_tree.predict(X_test) 
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)

In [35]:
acc_decision_tree

92.7

In [36]:
test_df.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Title,Age_Class
0,892,3,0,2,0,0,0,2,8,1,6
1,893,3,1,5,1,0,0,0,8,3,15
2,894,2,0,3,0,0,1,2,8,1,6
3,895,3,0,5,0,0,1,0,8,1,15
4,896,3,1,5,1,1,1,0,8,3,15

In [37]:
sub=pd.DataFrame({'PassengerId':test_df['PassengerId'],'Survived':Y_prediction})

In [38]:
sub.to_csv('submission.csv',index=False)